<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Restaurant Finder</title></head>
<body>
    <header>
        <h1>Welcome to Restaurant Finder</h1>
        <p>Discover and explore restaurants in your favorite cities!</p>
    </header>

    <main>
    <div class="search-container">
        <form action="/user-search" method="POST">
            <label for="search_">Enter City Name:</label>
            <input type="text" id="search_" name="search_input" placeholder="Search">
            <button type="submit">Go</button>
        </form>
    </div>
   
    <div class="button">
        <a href="/admin_login"> Go to Admin Page</a>
        </div>

    </main>


    <footer>
        <p> Data Source: Yelp </p>
    </footer>
</body>




</html>